.filter{
	padding-top:8px;
	margin-top:0px;
}

.filter dt{
	width:60px;
	text-align: left;
	text-indent:20px;
}

.filter dd{
	margin-left:70px;
}

.filter dd .keyList a{
	padding: 2px 6px;
}

.filter dd .keyList .active{
	background:#999;
	color: #FFFFFF;
}

.displayStyle{
}

.displayStyle dl{
	margin:10px 0px;
}

.displayStyle dt{
	width:60px;
	text-align: left;
	text-indent:20px;
}

.displayStyle dd{
	margin-left:70px;
}

.displayStyle dd .sort a{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	padding: 2px 6px;
	margin-right:8px;
}

.displayStyle dd .sort a:hover{
	border-color:#C90809;
	text-decoration:none;
}

.displayStyle dd .sort .active{
	color:#C90809;
}

.displayStyle dd .show {
	padding-right:20px;
}

.displayStyle dd .show img{
	vertical-align: text-top;
}

.productList{
	text-align:center;
}

.productList img{
	border-bottom:1px solid #ccc;
}

.productList p{
	margin:0px;
}

.productList .span4:first-child{
	margin-left:10px;
}

.productList .span4{
	margin-left:10px;
}

.page{
	border-top:1px solid #ccc;
	padding-top:8px;
	margin:0px;
}

.page .pageInfo{
	line-height:26px;
}

.page .pagination{
	margin:0px;
}

