@charset "utf-8";

footer{
	background:url(image/footer_bg.gif) 0px 0px repeat-x #fafafa;
	padding-bottom:10px;
}

footer .textLinks{
}

footer .textLinks .title{
	border-bottom:1px dotted #ccc;
	font-size:14px;
	padding:3px 0px;
	margin-bottom:3px;
}

footer p{
	margin:0px;
}




